*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.content-box-component {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

body {
	width: 100%;
	margin: 0;
	line-height: 21px;
	font-size: 14px;
	color: #000000;
	background-color: #ffffff;
	font-family: 'Lato', sans-serif;
}

.container {
	width: 1500px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: 119px;
	background-color: #fafcfc;
	padding-left: 180px;
	padding-right: 196px;
}

.product-logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 250px;
	height: 50px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.logo-txt {
	position: relative;
	font-weight: bold;
	font-size: 30px;
	margin: 0;
	font-size: 15px;
	line-height: 50px;
	margin-left: 11px;
	color: #656973;
}

.logo-txt::after {
	content: "";
	position: absolute;
	left: -80px;
	bottom: -35px;
	width: 1170px;
	height: 1px;
	background-color: #ebebeb;
}

nav {
	position: relative;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.menu-line,
.menu-line::before,
.menu-line::after {
	position: absolute;
	width: 36px;
	height: 6px;
	background-color: #666666;
}

.menu-line {
	top: 10px;
	right: 0;
}

.menu-line::before {
	content: "";
	top: 13px;
}

.menu-line::after {
	content: "";
	top: 25px;
}

.order {
	min-width: 1500px;
	min-height: 1005px;
	background-color: #fafcfc;
	background-image: url("../img/index/img-for-first-section(pils-with-dotted-bg).png");
	background-repeat: no-repeat;
	background-position: 99% 38%;
	padding-left: 180px;
	padding-top: 300px;
	margin-bottom: -120px;
}

.latin {
	font-size: 16px;
	line-height: 24px;
	color: #666666;
	padding-right: 880px;
	margin: 0;
	margin-bottom: 40px;
}

.do-it-now {
	margin-left: 35px;
	margin-bottom: 70px;
	color: #333740;
}

.do-it-now h2 {
	position: relative;
	margin: 0;
	margin-bottom: 32px;
	font-size: 72px;
	line-height: 35px;
	font-weight: 900;
	text-transform: uppercase;
}

.do-it-now h2::before {
	position: absolute;
	top: -7px;
	left: -35px;
	content: "";
	width: 5px;
	height: 95px;
	background-color: #18a3dd;
	border-radius: 3px 3px;
}

.do-it-now p {
	font-size: 24px;
	line-height: 24px;
	font-weight: 900;
}

.video-link {
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
}

.video-link a:first-child {
	color: #333740;
	margin-right: 32px;
}

.button {
	display: inline-block;
	vertical-align: middle;
	min-height: 50px;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	margin-right: 20px;
	padding-left: 37px;
	padding-right: 37px;
	padding-top: 13px;
	background-color: #18a3dd;
	border-radius: 30px 30px;
	color: #f1f1f1;
}

.per-section {
	position: relative;
	height: 350px;
	background-color: purple;
	/* Для старых браузров */
	background: -webkit-gradient(linear, left top, right top, from(#21172b), to(#0f0816));
	background: -webkit-linear-gradient(left, #21172b, #0f0816);
	background: -o-linear-gradient(left, #21172b, #0f0816);
	background: linear-gradient(to right, #21172b, #0f0816);
	padding-left: 432px;
	color: white;
}

.per-section img {
	position: absolute;
	top: -135px;
	left: 0;
}

.per-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	list-style: none;
	margin: 0;
}

.per-list li {
	margin-top: 130px;
	margin-right: 150px;
}

.per-list li:nth-child(2) {
	margin-right: 193px;
}

.value {
	position: relative;
	font-size: 72px;
	line-height: 24px;
	letter-spacing: 0.75px;
	font-weight: 900;
	margin: 0;
	margin-left: 15px;
	margin-bottom: 35px;
}

.value::before {
	position: absolute;
	top: -10px;
	left: -15px;
	content: "";
	width: 5px;
	height: 50px;
	background-color: #18a3dd;
	border-radius: 2px 2px;
}

.units,
.per {
	color: #18a3dd;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.75px;
	margin: 0;
}

.units {
	font-weight: bold;
	text-transform: uppercase;
}

.per {
	color: #a9a9a9;
}

.fetures {
	min-height: 695px;
	padding-top: 120px;
	background-color: #fafcfc;
	background-image: url("../img/index/img-for-section-features.png");
	background-repeat: no-repeat;
	background-position: 50% 122%;
}

.fetures .p-for-heading {
	margin-bottom: 134px;
}

.section-heading h2 {
	margin: 0;
	font-weight: 100;
	margin-right: 40px;
	font-size: 30px;
	line-height: 22px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
}

.section-heading h2:first-child {
	font-weight: bold;
}

.section-heading h2:nth-child(2) {
	position: relative;
}

.section-heading h2:nth-child(2)::before {
	position: absolute;
	top: -10px;
	left: -1px;
	content: "";
	width: 1px;
	height: 41px;
	background-color: #18a3dd;
	border-radius: 2px 2px;
}

.section-heading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	margin-left: 585px;
}

.p-for-heading {
	display: inline-block;
	color: #83888f;
	font-size: 16px;
	line-height: 24px;
	margin-left: 605px;
}

.fetures-list {
	list-style: none;
	margin: 0 248px 0 248px;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.list-item:nth-of-type(even)::after,
.list-item:nth-of-type(odd)::before,
.result-person::before,
.client-item-container h2::before {
	position: absolute;
	top: 4px;
	content: "";
	width: 5px;
	height: 35px;
	background-color: #18a3dd;
	border-radius: 2px 2px;
}

.list-item:nth-of-type(odd)::before {
	right: 0;
}

.list-item:nth-of-type(even)::after {
	left: 0;
}

.list-item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 260px;
	min-height: 90px;
	margin-bottom: 40px;
}

.list-item:nth-of-type(odd) {
	margin-right: 484px;
}

.list-item h3 {
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	margin: 0 29px 35px auto;
}

.list-item:nth-of-type(even) h3 {
	margin: 0 auto 35px 29px;
}

.list-item p {
	text-align: right;
}

.list-item:nth-of-type(even) p {
	text-align: left;
}

.real-results {
	position: relative;
	background-color: #ffffff;
	min-height: 850px;
	padding-top: 120px;
	padding-left: 173px;
}

.arrows {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 260px;
	cursor: pointer;
}

.prev {
	border-bottom: 3px solid lightgray;
	border-left: 3px solid lightgray;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	left: 27px;
}

.next {
	border-bottom: 3px solid lightgray;
	border-left: 3px solid lightgray;
	-webkit-transform: rotate(-135deg);
	    -ms-transform: rotate(-135deg);
	        transform: rotate(-135deg);
	right: 210px;
}

.real-results .section-heading {
	margin-left: 370px;
}

.real-results .p-for-heading {
	margin-bottom: 0;
	margin-left: 437px;
}

.results-slider {
	position: relative;
}

.results-slider-container {
	width: 800px;
	margin-left: 300px;
}

.slider-controls {
	position: absolute;
	left: 588px;
	bottom: 30px;
	z-index: 100;
	width: 160px;
	height: 18px;
	text-align: center;
	font-size: 0;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.slider-controls label {
	position: relative;
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: gray;
}

.slider-controls label::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 13px;
	height: 13px;
	background-color: gray;
	border-radius: 50%;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-item {
	display: none;
	padding: 78px 0 80px 0;
}

.item-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 300px;
	margin-bottom: 25px;
}

.item-container h2 {
	margin: 0;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.item-container h3,
.item-container p {
	display: inline-block;
	margin: 0;
}

.item-container h3 {
	margin-right: 45px;
	margin-bottom: 40px;
	color: #18a3dd;
}

.item-container p {
	text-transform: uppercase;
	margin-bottom: 22px;
	margin-right: 10px;
}

.result-person {
	position: relative;
	margin-left: 25px;
}

.result-person::before {
	height: 40px;
	top: 5px;
	left: -28px;
}

.mass-value {
	font-size: 30px;
	font-weight: bold;
}

.value-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.result-images {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	width: 470px;
	padding-left: 97px;
	margin-right: 20px;
}

.color-ph {
	width: 360px;
	height: 400px;
}

.bw-ph {
	position: absolute;
	top: 50px;
	left: -99px;
	width: 263px;
	height: 300px;
}

.results-data {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-top: 122px;
}

.item-value {
	margin-right: 20px;
}

#result-1:checked~.slider-list .slider-item:nth-child(1) {
	display: block;
}

#result-2:checked~.slider-list .slider-item:nth-child(2) {
	display: block;
}

#result-3:checked~.slider-list .slider-item:nth-child(3) {
	display: block;
}

#result-1:checked~.slider-controls .slider-controls-item-1::before,
#result-2:checked~.slider-controls .slider-controls-item-2::before,
#result-3:checked~.slider-controls .slider-controls-item-3::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 13px;
	height: 13px;
	background-color: #18a3dd;
	border-radius: 50%;
}

.client {
	min-height: 300px;
	background-color: #22152e;
	background-image: url("../img/index/bg-for-clients-section.jpg");
	padding: 120px 370px 0 370px;
}

.client h2,
.subscribe h2 {
	color: white;
}

.client p {
	color: white;
	opacity: 0.7;
	text-align: center;
}

.client .section-heading {
	margin-left: 190px;
}

.client .section-heading h2 {
	margin-right: 50px;
}

.client .p-for-heading {
	opacity: 1;
	margin-left: 245px;
	margin-bottom: 60px;
}

.client-slider {
	position: relative;
	margin: 0;
	margin-top: 30px;
}

.client-slider-controls {
	position: absolute;
	left: 393px;
	bottom: 123px;
	z-index: 100;
	width: 160px;
	height: 10px;
	text-align: center;
	font-size: 0;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.client-slider-controls label {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 25px;
	border-radius: 50%;
	cursor: pointer;
	background-color: gray;
}

.client-slider-controls label::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 10px;
	height: 10px;
	background-color: lightgray;
	border-radius: 50%;
}

.client-slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.client-slider-item {
	display: none;
}

.client-item-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 600px;
	min-height: 260px;
}

.client-item-container h3,
.client-item-container p {
	display: inline-block;
}

.client-image {
	-webkit-clip-path: polygon(50% 0, 100% 29%, 100% 75%, 50% 100%, 0 75%, 0 29%);
	        clip-path: polygon(50% 0, 100% 29%, 100% 75%, 50% 100%, 0 75%, 0 29%);
	height: 70px;
	width: 70px;
	margin-left: 300px;
	margin-right: 27px;
}

.client-person h2 {
	position: relative;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 8px;
}

.client-person h2::before {
	position: absolute;
	content: "";
	width: 35px;
	height: 5px;
	top: 60px;
	left: 0;
}

.client-person p {
	margin: 0;
}

#client-1:checked~.client-slider-list .client-slider-item:nth-child(1) {
	display: block;
}

#client-2:checked~.client-slider-list .client-slider-item:nth-child(2) {
	display: block;
}

#client-3:checked~.client-slider-list .client-slider-item:nth-child(3) {
	display: block;
}

#client-1:checked~.client-slider-controls .client-slider-controls-item-1::before,
#client-2:checked~.client-slider-controls .client-slider-controls-item-2::before,
#client-3:checked~.client-slider-controls .client-slider-controls-item-3::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 10px;
	height: 10px;
	background-color: #18a3dd;
	border-radius: 50%;
}

.facts {
	min-height: 895px;
	padding-top: 120px;
	padding-left: 280px;
	padding-right: 260px;
	background-color: #fafcfc;
}

.facts .section-heading {
	margin: 0;
	margin-bottom: 20px;
	margin-left: 299px;
}

.facts .p-for-heading {
	margin: 0;
	margin-left: 320px;
}

.facts-discription {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.ingridient-discription {}

.ingridient-discription .client-image {
	width: 110px;
	height: 120px;
	margin: 0;
	margin-top: 70px;
	margin-bottom: 45px;
}

.facts .result-person {
	padding-left: 30px;
}

.facts .result-person h2 {
	text-transform: uppercase;
	margin: 0;
}

.facts .result-person p {
	margin: 0;
	margin-bottom: 30px;
}

.facts .result-person::before {
	height: 40px;
	top: 0;
	left: 0;
}

.table-and-link {
	margin-right: 105px;
}

.table-and-link .button {
	width: 455px;
	text-align: center;
}

.table-and-link tr:not(:first-child) {
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}

.table-and-link tr:not(:first-child):hover {
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.3);
	    -ms-transform: scale(1.3);
	        transform: scale(1.3);
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}

.ingridients-table {
	width: 455px;
	border-collapse: collapse;
	margin-top: 50px;
	margin-bottom: 50px;
}

.ingridients-table th {
	text-transform: uppercase;
	border-bottom: 5px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.ingridients-table span {
	font-weight: normal;
}

.ingridients-table td {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid lightgray;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}

.ingridients-table tr {}

.ingridients-table tr:hover td {
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
	padding: 20px;
}

.ingridients-table td:first-child,
.ingridients-table th:first-child {
	text-align: left;
}

.ingridients-table td:last-child,
.ingridients-table th:last-child {
	text-align: right;
}

.ingridient-discription .result-person {
	padding: 0;
}

.ingridient-discription .result-person::before {
	top: 0;
	left: -22px;
}

.certifications {
	/* background-color: #f1f4f5;
     */
	background-color: white;
	min-height: 200px;
	padding-top: 80px;
	padding-bottom: 75px;
}

.certifications .section-heading {
	margin-left: 620px;
}

.certifications p {
	margin-left: 630px;
	margin-bottom: 45px;
}

.cert-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	padding: 0;
	margin: 0;
	list-style: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 220px 0 220px;
}

.cert-item {
	position: relative;
}

.cert-item:not(:first-child)::before {
	content: "";
	position: absolute;
	height: 60px;
	width: 1px;
	background-color: lightgray;
}

.cert-item:nth-child(2)::before {
	top: -5px;
	left: -30px;
}

.cert-item:nth-child(3)::before {
	top: 13px;
	left: -65px;
}

.cert-item:nth-child(4)::before {
	top: 13px;
	left: -55px;
}

.cert-item:nth-child(5)::before {
	top: 20px;
	left: -40px;
}

.order-2 {
	padding-left: 860px;
	padding-right: 300px;
	padding-top: 150px;
	min-height: 600px;
	background-color: #fafcfc;
	background-image: url("../img/index/img-for-order.png");
	background-repeat: no-repeat;
	background-position: 1% 80%;
}

.order-2 p {
	margin-bottom: 40px;
}

.order-2 .result-person p {
	margin-left: 40px;
	margin-bottom: 25px;
}

.order-2 h2 {
	margin-left: 40px;
	text-transform: uppercase;
}

.order-2 .result-person::before {
	width: 6px;
	height: 40px;
	top: 0;
	left: 0;
}

.subscribe {
	padding-top: 98px;
	min-height: 400px;
	background-color: black;
	background-image: url("../img/index/bg-for-subscribe.jpg");
	background-repeat: no-repeat;
}

.subscribe .section-heading {
	margin: 0;
	margin-left: 500px;
}

.subscribe .p-for-heading {
	margin-left: 530px;
	margin-bottom: 70px;
}

.subscribe .section-heading h2 {
	margin-right: 50px;
}

.section-heading h2:nth-child(2)::before {
	left: -22px;
}

.subscribe-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	margin-left: 475px;
	height: 55px;
}

.subscribe-form input[type=text] {
	position: relative;
	height: 55px;
	width: 430px;
	margin-right: -30px;
	border: 2px solid white;
	border-radius: 28px 28px;
	padding-left: 20px;
}

.subscribe-form button[type=submit],
.inquire-form button[type=submit] {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	min-height: 55px;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	margin-right: 20px;
	margin-top: -4px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 13px;
	padding-bottom: 13px;
	border: 2px solid #18a3dd;
	background-color: #18a3dd;
	color: #f1f1f1;
}

.subscribe-form button[type=submit] {
	border-radius: 0 30px 30px 0;
}

.inquire {
	padding-top: 120px;
	padding-bottom: 100px;
}

.inquire .section-heading {
	margin: 0;
	margin-left: 575px;
}

.inquire .p-for-heading {
	margin-left: 600px;
	margin-bottom: 29px;
}

.inquire.section-heading h2 {
	margin-right: 50px;
}

.section-heading h2:nth-child(2)::before {
	left: -20px;
}

.inquire-form {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 700px;
	min-height: 300px;
	margin-left: 470px;
	margin-top: 50px;
}

.inquire-form button[type=submit] {
	border-radius: 30px 30px;
	margin-left: 180px;
	margin-bottom: 20px;
	width: 200px;
}

.inquire-form input[type=text] {
	display: inline-block;
	width: 260px;
	border: 2px solid white;
	border-bottom: 1px solid black;
	margin-bottom: 55px;
	margin-right: 35px;
}

.inquire-form textarea {
	position: relative;
	height: 170px;
	line-height: 33px;
	resize: none;
	word-wrap: break-word;
	width: 560px;
	margin-bottom: 45px;
	border: 0px;
	border-bottom: 1px solid black;
}

.textarea-container {
	position: relative;
}

.textarea-container::after {
	content: "";
	position: absolute;
	top: 27px;
	left: 0;
	width: 560px;
	height: 1px;
	background-color: black;
}

footer {
	min-height: 130px;
	background-color: lightgray;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer-cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.soc-list {
	padding: 0;
	padding-right: 135px;
	padding-top: 40px;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.soc-item a {
	display: block;
	width: 50px;
	height: 50px;
	background-color: transparent;
	margin-right: 27px;
	margin-top: 15px;
}

.fb a {
	background-image: url("../img/index/sprite.png");
	background-repeat: no-repeat;
	background-position: 19px center;
}

.tw a {
	background-image: url("../img/index/sprite.png");
	background-repeat: no-repeat;
	background-position: -49px center;
}

.yt a {
	background-image: url("../img/index/sprite.png");
	background-repeat: no-repeat;
	background-position: -126px center;
}

.at a {
	background-image: url("../img/index/sprite.png");
	background-repeat: no-repeat;
	background-position: -203px center;
}

.footer-details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 33px 0 0 180px;
}

.footer-details .cert-list {
	margin-top: 5px;
	padding: 0;
}

.footer-details .cert-item {
	margin-right: 25px;
	position: relative;
}

.footer-details .cert-item:not(:first-child)::before {
	content: "";
	position: absolute;
	top: 0;
	left: -12px;
	width: 1px;
	height: 20px;
	background-color: gray;
}

.footer-details .cert-list a {
	color: gray;
}
